
<html>
	<head>
		<title>CIDR Whitelist Calculator</title>
	</head>
	<body>

		<form method="POST" action="/">
			
		<div>Network:</div>
		<textarea name="network" rows="10" cols="30"><%= @network %></textarea>
		<div>Blacklist:</div>
		<textarea name="blacklist" rows="10" cols="30"><%= @blacklist %></textarea>
		<div>
  			<%= @result %>
		</div>
		<div>
			<input type="submit" name="submit" />		
		</div>
		</form>
	</body>
</html>