
<html>
	<head>
		<title>CIDR Whitelist Calculator</title>
	</head>
	<body>

		<form method="POST" action="/">
			<table border="0" cellpadding="3">
				<tr>
					<td>
						Network
					</td>
					<td>
						Blacklist
					</td>
					<td>
						Result <% if @result %>(<%= @result.size%>)<% end %>
					</td>
				</tr>
				<tr valign="top">
					<td>
						<textarea name="network" rows="20" cols="20"><%= @network %></textarea>
						<div>
							<input type="submit" name="submit" />		
						</div>
					</td>
					<td>
						<textarea name="blacklist" rows="20" cols="20"><%= @blacklist %></textarea>
					</td>
					<td>
						<div>
				  			
				  			<% if @result %>
					  			<% for @item in @result %>
					    			<%= @item %></br>
					  			<% end %>
				  			<% end %>
						</div>
						
					</td>
				<tr>
			</table>

		</form>
	</body>
</html>